<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="XSEED automation interview test" verbose="1">
    <test name="API Autoamtion Testt">
        <classes>
            <class name="ApiTestClass"/>
        </classes>
    </test>
    <test name="UI Autoamtion Testt">
        <classes>
            <class name="UiTestClass"/>
        </classes>
    </test>
</suite>